<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description"
          content="A simple solution to Frontend Mentor's QR code component challenge using 11ty, Sass, and Gorko" />

    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="./images/favicon-32x32.png">

    <style>{% include "css/global.css" %}</style>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap"
          rel="stylesheet">
  </head>
  <body>
    <main>
      <h1 class="visually-hidden">QR Card Component</h1>
      {% include "partials/card.njk" %}
    </main>

    {% if attribution %}
      <footer>
        {% include "partials/attribution.njk" %}
      </footer>
    {% endif %}
  </body>
</html>
