<article class="card flow box-shadow">
  <img class="card__image"
       src="{{ card.image }}"
       alt="QR code to Frontend Mentor homepage" />
  <h2 class="card__summary">{{ card.summary }}</h2>
  <p class="card__description">{{ card.description }}</p>
</article>
